/* navbar and backround*/
nav {
    background-color: #bca9ad;
}
body {
    background-color: #838c8a;
}

/* images */
.container{
    display: grid;
    background-color: white;
        grid-template-columns: repeat(50px 50px 50px 50px 50px) ;
        grid-template-rows: auto ;
        grid-gap: 5px;
        grid-template-areas:
                "a a a a b"
                "a a a a c"
                "a a a a d"
                "e f f g h"
                "i j j k l"
                "m n . o o"
                "t . . q r"
                ". . . . .";
}
.logo{
    grid-area: a;
}
.image1{
    grid-area: b;
}
.image2 {
    grid-area: c;
}
.image3 {
    grid-area: d;
}
.image4 {
    grid-area: e;
}
.image5 {
    grid-area: f;
}
.image6 {
    grid-area: g;
}
.image7 {
    grid-area: h;
}
.image8 {
    grid-area: i;
}
.image9 {
    grid-area: j;
}
.image10 {
    grid-area: k;
}
.image11 {
    grid-area: l;
}
.image12 {
    grid-area: m;
}
.image13 {
    grid-area: n;
}
.image14 {
    grid-area: o;
}
.image15 {
    grid-area: p;
}
.image16 {
    grid-area: q;
}
.image17 {
    grid-area: r;
}
.image18 {
    grid-area: s;
}
.image19 {
    grid-area: t;
}
.image20 {
    grid-area: u;
}