/* navbar and backround*/
nav {
    border: 1px solid #bca9ad;
    background-color: #bca9ad;
}

body {
    background-color: #838c8a;
}

.row {
    
    grid-template-rows: 25% 100px auto;
}

.column{
grid-template-columns: 40px 50px auto 50px 40px;

}

.sites ol {
    list-style-type: none;
    padding-left: 0;
}

.site {
    display: inline-block;
}

.site a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
}

nav li {
    display: inline-block;
    height: auto;
    padding: auto  ;
}

/* images */
.row {
    grid-row: 1;
}



.column {
    
    grid-column: 1;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: auto;
    grid-column: 1;
}


@media screen and (max-width: 800px) {
    .column {
        grid-column: 1;
    }
}


@media screen and (max-width: 600px) {
    .column {
        grid-column: 1;
    }
}